*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI',sans-serif;
    background: #0f172a;
    color:#e2e8f0;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.container{
    background: #1e293b;
    padding:20px;
    border-radius: 10px;
    width:300px;
    display:flex;
    flex-direction: column;
    gap:12px
}
Input{
    background: #1e293b;
    border-radius: 6px;
    border:1px solid #334155;
    background: #020617;
    color:white;
}
button{
    padding:10px;
    border-radius: 6px;
    border:none;
    background: #3b82f6;
    color:white;
    cursor:pointer;
}
button:hover{
    background: #2563eb;
}
#result{
    margin-top:10px;
    font-size: 14px;
    text-align: center;
}

#result img{
    border-radius:50%;
    margin-bottom:10px;
}
#result a{
    color:#3b82f6;
    text-decoration: none;
}
.card{
    background: #020617;
    padding:15px;
    border-radius: 10px;
    text-align: center;
}
.card h2{
    margin:8px 0;
}
.card p{
    font-size:14px;
}
.avatar{
    width:80px;
    border-radius: 50%;
    margin-bottom:10px
}
ul{
    list-style:none;
    padding:0;
}
.card:hover{
    transform:scale(1.02);
    transition:0.2s;
}
button{
    font-weight:bold;
}